@{
    ViewData["Title"] = "Add";
}

@model Product

<h1>Ürün Ekleme</h1>
@*<form asp-controller="Products" asp-action="Add" method="post"> //Bu datayı göndermek için belirtildi.
	<label>Ürün İsim :</label>
	<input type="text" name="Name"/>
	<label>Ürün Fiyat :</label>
	<input type="text" name="Price" />
	<label>Ürün Stok :</label>
	<input type="text" name="Stock" />
	<label>Ürün Barcode :</label>
	<input type="text" name="Barcode" />
	<label>Ürün Genişlik :</label>
	<input type="text" name="Widht" />
	<label>Ürün Uzunluk :</label>
	<input type="text" name="Height" />
	<button type="submit">Ürün Kaydet</button>
</form>*@

<form asp-controller="Products" asp-action="Add" method="post" style="width:500px;">
    <div class="mb-3">
        <label for="Name" class="form-label">Ürün İsmi :</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Ürün Fiyat :</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Ürün Stok :</label>
        <input class="form-control" asp-for="Stock">
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Ürün Barkot :</label>
        <input class="form-control" asp-for="Barcode">
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Ürün Genişlik :</label>
        <input class="form-control" asp-for="Width">
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Ürün Uzunluk :</label>
        <input class="form-control" asp-for="Height">
    </div>
    <div class="from-check">
        <label class="form-check-label" for="flexCheckDefault">Yayınlansın mı?</label>
        <input class="form-check-input" asp-for="IsPublish">
    </div>
    <br/>
    <button class="btn btn-primary" type="submit">Ürün Kaydet</button>
   
</form>

@*<form asp-controller="Products" asp-action="Add" method="post">
    Bu datayı göndermek için belirtildi.
    <label>Ürün İsim :</label>
    <input type="text" asp-for="Name" />
    </br>
    <label>Ürün Fiyat :</label>
    <input type="text" asp-for="Price" />
    </br>
    <label>Ürün Stok :</label>
    <input type="text" asp-for="Stock" />
    </br>
    <label>Ürün Barkot :</label>
    <input type="text" asp-for="Barcode" />
    </br>
    <label>Ürün Genişlik :</label>
    <input type="text" asp-for="Width" />
    </br>
    <label>Ürün Uzunluk :</label>
    <input type="text" asp-for="Height" />
    <br />
    <button type="submit">Ürün Kaydet</button>
</form>*@

